<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advanced configuration demo</title>
</head>
<body>
    <p th:text = "'Синглтон Скоуп сказал: ' + ${singletonGreeting}"></p>
    <p th:text = "'Притотип Скоуп Первый сказал: ' + ${prototype1Greeting}"></p>
    <p th:text = "'Притотип Скоуп Второй сказал: ' + ${prototype2Greeting}"></p>
    <p th:text = "'Сешн Скоуп сказал: ' + ${sessionGreeting}"></p>
    <p th:text = "'Реквест Скоуп сказал: ' + ${requestGreeting}"></p>

</body>
</html>